.svg-tools{
    display: block;
    position: relative; 
    width: 20px; 
    height:20px ;
    top:5%; 
    margin-left: 20%; 
    box-sizing: content-box;
    background: no-repeat url("../../media/icon/filter_out.svg") ;
    padding-bottom: 10px;
  }
  .svg-tools:hover{
    background: no-repeat url("../../media/icon/filter_in.svg") ;
    background-color: #ffffff;
    border-radius: 4px;
  }
  .svg-add{
    display: block;
    position: relative; 
    width: 20px; 
    height:20px ;
    top:5%; 
    margin-left: 20%; 
    box-sizing: content-box;
    background: no-repeat url("../../media/icon/add_out_icon.svg") ;
  }
  .svg-add:hover{
    background: no-repeat url("../../media/icon/add_in_icon.svg") ;
    background-color: #ffffff;
    border-radius: 4px;
  }