/*
https://www.w3schools.com/cssref/pr_grid-column.asp
 */
 @import url("./css/grid-main.css");
 @import url("./css/grid-workspace.css");
 @import url("./css/grid-section1.css");
 @import url("./css/grid-section2.css");

 body {
  margin: 0;
  padding: 0;
  background-color: rgb(197, 189, 189);
  background-repeat: no-repeat;
  background-size: 10%;
  height: 95%;
  
}



.bg {
  /* The image used */
  background-image: url("/media/earth_title.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



.page-grid-container{

  overflow: hidden;
  position: relative;
  display: grid;
  /* grid-template-columns: auto auto ; */
  grid-template-rows: 0% 100% ;
  background-color: rgb(198, 209, 208);
  padding: 0px;
  grid-gap: 0%;
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  
  border-collapse: collapse ;
  box-sizing: border-box;
  border: inherit;
  border-collapse: collapse ;

}
.page-grid-container  .welcome-container {
  
  
  display:block;
  position: relative;
  background-color: rgba(215, 216, 207, 0.8);
  grid-row: 1 / span 1;
  border: inherit;
  border-collapse: collapse ;

}
.page-grid-container  .app-container {
  display:block;
  position: relative;
  background-color: rgba(215, 216, 207, 0.8);
  grid-row: 2 / span 1;
  border: inherit;
  border-collapse: collapse ;
}








h1{

  color: blue;


}



.TitleS1{
font-size: larger;

}








header {
  height: 5vh;
  background-color: rgb(0, 0, 0);
  width: 100%;
}
.imgbanner {
  display: block;
  height: 100%;
  margin-left: 0%;
  /* border: 1px solid #f5ecec;
  margin-left: auto;
  margin-right: auto;
  */
}
