
  
  .main-grid-container .Menu-Contextual {
    background-color: #e21818;
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
  }
  .main-grid-container .sections-grid-container {
    display:block;
    position: relative;
    background-color: rgba(215, 252, 5, 0.8);
    grid-column: 2;
    grid-row: 2 / span 1;
  }
  div {
    text-align: center;
    /*  padding: 20px 0;  */
    font-size: 20px;
  }
