.app-grids-organisation  {
    display: grid;
    position: relative;
    /* grid-template-columns: auto auto ; */
    grid-template-columns: 100%;
    grid-template-rows: 3% 97% ;
    background-color: rgba(255, 255, 255, 0);
    height: 100vh;
  
    padding: 0px;
    grid-gap: 0%;
  }


.app-grids-organisation .main-menu-container {
    display:inline-block;
    position: relative;
    background-color: #ff020248;
    grid-column: 1;
    grid-row: 1 / span 1;
    padding: 0px;
    margin-top: 5px;
    height: 98%;
    width:  96%;
    margin-left: 2%; 
 
  }

.app-grids-organisation .workspace-container {
    display:inline-block;
    position: relative;
    background-color: #1d1af0fd;
    grid-column: 1;
    grid-row: 2 / span 1;
    padding: 0px;
    margin-top: 8px;
    height: 98%;
    width:  96%;
    margin-left: 2%;

 
  } 


  


