.main-grid-container {
    display: grid;
    position: relative;
    /* grid-template-columns: auto auto ; */
    grid-template-columns: 100%;
    grid-template-rows: 5% 95% ;
    background-color: #2196F3;
    height: 100vh;
    padding: 0px;
    grid-gap: 0px;
  }
  .main-grid-container .Main-Menu {
    display:block;
    position: relative;
    background-color: #f1f1f1;
    grid-column: 1;
    grid-row: 1 / span 1;
  
  }
  .main-grid-container .Menu-Contextual {
    background-color: #cf3232;
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
  }
  .main-grid-container .sections-grid-container {
    display:block;
    position: relative;
    background-color: rgba(215, 252, 5, 0.8);
    grid-column: 2;
    grid-row: 2 / span 1;
  }
  div {
    text-align: center;
    /*  padding: 20px 0;  */
    font-size: 20px;
  }
