  .section1-grid-container{
    position: relative;
    display: grid;
    /* grid-template-columns: auto auto ; */
    grid-template-columns: 95% 5%;
    background-color: rgb(198, 209, 208);
    padding: 0px;
    grid-gap: 0%;
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
   
  }
  .section1-grid-container  .Section1-Table {
    display:block;
    position: relative;
    background-color: rgba(215, 216, 207, 0.8);
    grid-column: 1;

    
    
    overflow: scroll;

    border: solid rgb(0, 0, 0);
    border-width: 0px 2px 0px 0px;   /*    haut droit bas gauche https://developer.mozilla.org/fr/docs/Web/CSS/border-width */  

   
  }
  .section1-grid-container  .Section1-Interactivs {
    display:block;
    position: relative;
    background-color: #0c98e9;
    grid-column: 2;
  

  }
  .NavIcon_Section1{
    position: relative;
    height: 20px;
    float: right;
    top: 95%;
  }
  #customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
  
    width: 100%;
    font-size: 10px;
   
  }
  .table-title{
    background-color: rgb(28, 201, 34);
  }
  #customers td, #customers th {

    border: 1px solid rgb(0, 0, 0);
    box-sizing: border-box;
    padding: 8px;

  }
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  #customers tr:hover {background-color: #ddd;}
  #customers .table-section {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: rgb(135, 214, 138);
    color: white;
  }
  #customers .table-title{
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
    background-color: rgb(28, 201, 34);
    text-align: left;
  }


  
ul {
  top: 5%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #f1f1f1;
  position: relative;
  height: auto;
  overflow: auto;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #4CAF50;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}
