

@import url("../area-elements/right-area-elements.css");


.rightarea-grids-organisation  {
    display: grid;
    position: relative;
    grid-template-columns: 10px calc(100% - 50px) 40px ; 
    grid-template-rows: 3.5% 96.5%;
    background-color: rgba(255, 255, 255, 0);
    height: 100%;
    width: 100%;
    padding: 0px;
    grid-gap: 0%;
    margin-top: 0px;
    margin-left: 0%;
}
.rightarea-grids-organisation .documentswindow-title {
    display:inline-block;
    position: relative;
    background-color: rgb(255, 255, 255);
    grid-column: 2 / span 2;
    grid-row: 1 ;
    height: 100%;
    width: 100%;
    padding: 0px;
    grid-gap: 0%;
    margin-top: 0px;
    margin-left: 0%;
  }
  .rightarea-grids-organisation  .documentswindow-documents-container  {
    display:inline-block;
    position: relative;
    background-color: rgb(172, 255, 19);
    grid-column: 2 / span 1;
    grid-row: 2 ;
    height: 100%;
    width: 100%;
    padding: 0px;
    grid-gap: 0%;
    margin-top: 0px;
    margin-left: 0%;
  }
   .rightarea-grids-organisation .documentswindow-tools {
    display:inline-block;
    position: relative;
    background-color: rgb(255, 255, 255);
    grid-column: 3 / span 1;
    grid-row: 2 ;
    height: 100%;
    width: 100%;
    padding: 0px;
    grid-gap: 0%;
    margin-top: 0px;
    margin-left: 0%;
  }
  .rightarea-grids-organisation .documentswindow-nav {
    display:inline-block;
    position: relative;
    background-color: #dfdede;
    grid-column: 1 / span 1;
    grid-row: 1 / span 2 ;
    height: 100%;
    width: 100%;
    padding: 0px;
    grid-gap: 0%;
    margin-top: 0px;
    margin-left: 0%;
    border-width: 1px;
 

    border-color: blue;
    border-width: 1px;


    border-top-style: none;
    border-right-style: none;
    border-bottom-style:  none;
    border-left-style: none;
    box-sizing: border-box;
  }
  .documents-grid-organisation  {
    display: grid;
    position: relative;
    grid-template-rows: 50% 50%;
    background-color: rgba(255, 255, 255, 0);
    height: 100%;
    width: 100%;
    padding: 0px;
    grid-gap: 0%;
    margin-top: 0px;
    margin-left: 0%;
}
.documents-grid-organisation .documents-list {
  display:inline-block;
  position: relative;
  background-color: rgb(255, 255, 255);
  grid-row: 1 ;
  height: 100%;
  width: 100%;
  padding: 0px;
  grid-gap: 0%;
  margin-top: 0px;
  margin-left: 0%;
  overflow: scroll;
}
.documents-grid-organisation .adocument {
  display:inline-block;
  position: relative;
  background-color: rgb(52, 27, 177);
  grid-row: 2 ;
  height: 100%;
  width: 100%;
  padding: 0px;
  grid-gap: 0%;
  margin-top: 0px;
  margin-left: 0%;
}
