.main-menu-container {
height: 100%;
box-sizing: border-box;
border-color:rgb(138, 139, 139);
border-width: 1px;
border-top-style: none;
border-right-style: none;
border-bottom-style:  solid;
border-left-style: none;
}
.main-menu-container .logo {
  float: left;
  display: block;
  position: relative; 
  width: 40px ;
  height:40px ;
  top:10px; 
  margin-left: 15px; 
  box-sizing: content-box;
  background: no-repeat url("../../media/icon/globe.svg") ;
 background-color: rgb(255, 255, 255);
  animation: mymove 5s;
  animation-iteration-count: infinite;
  border-radius: 100%;
}
@keyframes mymove2 {
  from {
        transform: rotate(0deg);   }
  to {
    transform: rotate(360deg);
  }
}
@keyframes mymove {
from {transform: rotateX(0deg) rotate(360deg); }
to { transform: rotateX(360deg) rotate(0deg); }
}
.main-menu-container ul {
    float: right;
    height: 100%;
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 255, 255)
  }
  .main-menu-container li {
    padding-right:1px;
    display: inline;
  }
  .main-menu-container li a {
    font-family: system-ui;
    font-style: normal;
    font-size: 20px;
    position: relative;
    top: calc(60% - 20px);
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 100% 0px;
    text-decoration: none;
  }
/*
  .main-menu-container li a:hover:not(.active) {
    background-color: #111;
  }
  */
  .main-menu-container li a:hover {
    background-color: rgb(213, 220, 231);
  }
  .main-menu-container .active {
    background-color: rgb(253, 255, 253);
  }
