
  .section1-grid-container{
    position: relative;
    display: grid;
    /* grid-template-columns: auto auto ; */
    grid-template-columns: 95% 5%;
    background-color: rgb(198, 209, 208);
    padding: 0px;
    grid-gap: 0%;
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    
    border-collapse: collapse ;
    box-sizing: border-box;
    border: inherit;
    border-collapse: collapse ;
  }
  .section1-grid-container  .Section1-Table {
    display:block;
    position: relative;
    background-color: rgba(215, 216, 207, 0.8);
    grid-column: 1;
    border: inherit;
    border-collapse: collapse ;
    overflow: scroll;
  }
  .section1-grid-container  .Section1-Interactivs {
    display:block;
    position: relative;
    background-color: rgba(215, 216, 207, 0.8);
    grid-column: 2;
    border: inherit;
    border-collapse: collapse ;
  }

  .NavIcon_Section1{
    position: relative;
    height: 20px;
    float: right;
    top: 95%;
  }
