  .left-area-container .Menu-container {
    
    position: relative;
    height: 12%;
    width: 80%; 
    background-color: rgba(75, 255, 4, 0.219);
    margin-top: 25%;
    margin-left: 10%;
    border-radius: 10px;
  }
  .Menu-container tr:hover  {
    Background-color: rgb(6, 71, 192);
  }
