.rightarea-grids-organisation  {
    display: grid;
    position: relative;
    grid-template-columns: 10px calc(100% - 50px) 40px ; 
    grid-template-rows: 3.5% 96.5%;
    background-color: rgba(255, 255, 255, 0);
    height: 100%;
    width: 100%;
    padding: 0px;
    grid-gap: 0%;
    margin-top: 0px;
    margin-left: 0%;
}
.rightarea-grids-organisation .documentswindow-title {
    display:inline-block;
    position: relative;
    background-color: rgb(255, 255, 255);
    grid-column: 2 / span 2;
    grid-row: 1 ;
    height: 100%;
    width: 100%;
    padding: 0px;
    grid-gap: 0%;
    margin-top: 0px;
    margin-left: 0%;
  }
  .rightarea-grids-organisation  .documentswindow-documents-container  {
    display:inline-block;
    position: relative;
    background-color: rgb(172, 255, 19);
    grid-column: 2 / span 1;
    grid-row: 2 ;
    height: 100%;
    width: 100%;
    padding: 0px;
    grid-gap: 0%;
    margin-top: 0px;
    margin-left: 0%;
  }
   .rightarea-grids-organisation .documentswindow-tools {
    display:inline-block;
    position: relative;
    background-color: rgb(255, 255, 255);
    grid-column: 3 / span 1;
    grid-row: 2 ;
    height: 100%;
    width: 100%;
    padding: 0px;
    grid-gap: 0%;
    margin-top: 0px;
    margin-left: 0%;
  }
  .rightarea-grids-organisation .documentswindow-nav {
    display:inline-block;
    position: relative;
    background-color: #dfdede;
    grid-column: 1 / span 1;
    grid-row: 1 / span 2 ;
    height: 100%;
    width: 100%;
    padding: 0px;
    grid-gap: 0%;
    margin-top: 0px;
    margin-left: 0%;
    border-width: 1px;
 

    border-color: blue;
    border-width: 1px;


    border-top-style: none;
    border-right-style: none;
    border-bottom-style:  none;
    border-left-style: none;
    box-sizing: border-box;
  }
  .documents-grid-organisation  {
    display: grid;
    position: relative;
    grid-template-rows: 50% 50%;
    background-color: rgba(255, 255, 255, 0);
    height: 100%;
    width: 100%;
    padding: 0px;
    grid-gap: 0%;
    margin-top: 0px;
    margin-left: 0%;
}
.documents-grid-organisation .documents-list {
  display:inline-block;
  position: relative;
  background-color: rgb(255, 255, 255);
  grid-row: 1 ;
  height: 100%;
  width: 100%;
  padding: 0px;
  grid-gap: 0%;
  margin-top: 0px;
  margin-left: 0%;
  overflow: scroll;
}
.documents-grid-organisation .adocument {
  display:inline-block;
  position: relative;
  background-color: rgb(52, 27, 177);
  grid-row: 2 ;
  height: 100%;
  width: 100%;
  padding: 0px;
  grid-gap: 0%;
  margin-top: 0px;
  margin-left: 0%;
}
.NavBox{
position: relative;
top: calc(50% - 50px);
width: 100%;
height: 100px;
background-color: rgb(255, 255, 255);
padding-top: 0px;
}
.svg-expand-top{
  display: block;
  position: relative; 
  width: 50%; 
  height:30% ;
  padding-top: 10px;
  margin-left: 10px; 
  box-sizing: content-box;
  background: no-repeat url("../media/icon/expand_top_out.svg") ;
}
.svg-expand-top:hover{
  background: no-repeat url("../media/icon/expand_top_in.svg") ;
}
.svg-split{
  display: block;
  position: relative; 
  padding-top: 10px;
  width: 50%; 
  height:30% ;
  margin-left: 10px; 
  box-sizing: content-box;
  background: no-repeat url("../media/icon/split_vertical-screen_out.svg") ;
  transform: rotate(0deg);
}
.svg-split:hover{
  background: no-repeat url("../media/icon/split_vertical-screen_hover.svg") ;
}
.svg-expand-bottom{
  display: block;
  position: relative; 
  width: 50%; 
  height:30% ;
  margin-left: 10px; 
  box-sizing: content-box;
  background: no-repeat url("../media/icon/expand_bottom_out.svg") ;
}
.svg-expand-bottom:hover{
  background: no-repeat url("../media/icon/expand_bottom_in.svg") ;
}
