.main-menu-container {
height: 100%;
}

.main-menu-container ul {
    height: 100%;
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  .main-menu-container li {
   display: inline;
  }
  .main-menu-container li a {
    font-size: small;

    color: white;
    text-align: center;
    padding: 4px 6px;
    text-decoration: none;
  }

/*
  .main-menu-container li a:hover:not(.active) {
    background-color: #111;
  }
  */

  .main-menu-container li a:hover {
    background-color: rgb(6, 71, 192);
  }
  .main-menu-container .active {
    background-color: #4CAF50;
  }
