  .mid-area-grids-organisations  {
    display: grid;
    position: relative;
    /* grid-template-columns: auto auto ; */
    grid-template-columns:  98% 2%;
    grid-template-rows: 33% 33% 34%;
    background-color: rgba(255, 255, 255, 0);
  
    
    height: 100%;
    width: 100%;
    padding: 0px;
    grid-gap: 0%;
    margin-top: 0px;
    margin-left: 0%;
}
  .mid-area-grids-organisations .ma-top-container {
    display:inline-block;
    position: relative;
    background-color: #b18f8f5e;
    grid-column: 1;
    grid-row: 1 / span 1;
   
    height: 100%;
    width: 100%;
    padding: 0px;
    grid-gap: 0%;
    margin-top: 0px;
    margin-left: 0%;

    border-width: 1px;
    border-top-style: dotted;
    border-right-style: dotted;
    border-bottom-style: dotted;
    border-left-style: dotted;
  }
  .mid-area-grids-organisations .ma-mid-container {
    display:inline-block;
    position: relative;
    background-color: #b18f8f5e;
    grid-column: 1;
    grid-row: 2 / span 1;
    
    height: 100%;
    width: 100%;
    padding: 0px;
    grid-gap: 0%;
    margin-top: 0px;
    margin-left: 0%;

    border-width: 1px;
    border-top-style: dotted;
    border-right-style: dotted;
    border-bottom-style: dotted;
    border-left-style: dotted;
  }
  .mid-area-grids-organisations .ma-bottom-container {
    display:inline-block;
    position: relative;
    background-color: #b18f8f5e;
    grid-column: 1;
    grid-row: 3 / span 1;
    
    height: 100%;
    width: 100%;
    padding: 0px;
    grid-gap: 0%;
    margin-top: 0px;
    margin-left: 0%;

    border-width: 1px;
    border-top-style: dotted;
    border-right-style: dotted;
    border-bottom-style: dotted;
    border-left-style: dotted;
  }



  .mid-area-grids-organisations .ma-mid-nav-right {
    display:inline-block;
    position: relative;
    background-color: #0a19eb5e;
    grid-column: 2;
    grid-row: 1 / span 3;
  

    height: 100%;
    width: 100%;
    padding: 0px;
    grid-gap: 0%;
    margin-top: 0px;
    margin-left: 0%;

  
    border-width: 1px;
    border-top-style: dotted;
    border-right-style: dotted;
    border-bottom-style: dotted;
    border-left-style: dotted;
  }