  .left-area-container .Menu-container {
    height: 50%;
    width: 100%; 
    background-color: rgb(75, 75, 75);
    margin-top: 20%;
    margin-left: 5%;
  }
  .Menu-container tr:hover  {
    Background-color: rgb(6, 71, 192);
  }
