.rightarea-grids-organisation  {
    display: grid;
    position: relative;
    grid-template-columns: 2% 95% 5% ; 
    grid-template-rows: 3.5% 96.5%;
    background-color: rgba(255, 255, 255, 0);
   
    height: 100%;
    width: 100%;
    padding: 0px;
    grid-gap: 0%;
    margin-top: 0px;
    margin-left: 0%;
}
.rightarea-grids-organisation .database-title-container {
    display:inline-block;
    position: relative;
    background-color: rgb(75, 75, 75);
    grid-column: 2 / span 2;
    grid-row: 1 ;
   
    height: 100%;
    width: 100%;
    padding: 0px;
    grid-gap: 0%;
    margin-top: 0px;
    margin-left: 0%;
  }
  .rightarea-grids-organisation  .database-table-container {
    display:inline-block;
    position: relative;
    background-color: rgb(218, 218, 218);
    grid-column: 2 / span 1;
    grid-row: 2 ;
    
    height: 100%;
    width: 100%;
    padding: 0px;
    grid-gap: 0%;
    margin-top: 0px;
    margin-left: 0%;
  }
   .rightarea-grids-organisation .database-tools-container {
    display:inline-block;
    position: relative;
    background-color: rgb(75, 75, 75);
    grid-column: 3 / span 1;
    grid-row: 2 ;
  
    height: 100%;
    width: 100%;
    padding: 0px;
    grid-gap: 0%;
    margin-top: 0px;
    margin-left: 0%;
  }

  .rightarea-grids-organisation .ma-right-nav-left {
    display:inline-block;
    position: relative;
    background-color: #02aefd5e;
    grid-column: 1 / span 1;
    grid-row: 1 / span 2 ;
  
    height: 100%;
    width: 100%;
    padding: 0px;
    grid-gap: 0%;
    margin-top: 0px;
    margin-left: 0%;


    border-width: 1px;
   
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    box-sizing: border-box;

  }

  