.main-menu-container {
height: 100%;
}
ul {
    height: 100%;
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  li {
    float: left;
  }
  li a {
    font-size: small;
    display: block;
    color: white;
    text-align: center;
    padding: 4px 6px;
    text-decoration: none;
  }
  li a:hover:not(.active) {
    background-color: #111;
  }
  .active {
    background-color: #4CAF50;
  }
