.db-grids-organisation  {
    display: grid;
    position: relative;
    grid-template-columns: 95% 5% 0%  ; 
    grid-template-rows: 10% 90%;     
    background-color: rgba(255, 255, 255, 0);
    height: 100%;
    width: 100%;
    padding: 0px;
    grid-gap: 0%;
    margin-top: 0px;
    margin-left: 0%;  
}
.db-grids-organisation h1{
  font-size: small;
  text-align: center; 
  color: white;
}
  .db-grids-organisation .database-title-container {
    display:inline-block;

    
    position: relative;
    background-color: rgb(75, 75, 75);
    grid-column: 1 / span 2;
    grid-row: 1 ;
    height: 100%;
    width: 100%;
    padding: 0px;
    grid-gap: 0%;
    margin-top: 0px;
    margin-left: 0%;
  }
  .db-grids-organisation .database-table-container {
    display:inline-block;
    position: relative;
    background-color: #a8abb4;
    grid-column: 1 / span 1;
    grid-row: 2 ;
    height: 100%;
    width: 100%;
    padding: 0px;
    grid-gap: 0%;
    margin-top: 0px;
    margin-left: 0%;
    border-width: 1px;
    border-radius: 20px;
    border-top-style: solid;
    border-right-style: solid;
/* border-bottom-style: dotted;
    border-left-style: dotted;  */
    box-sizing: border-box;
    overflow: scroll;
    
  }
  .db-grids-organisation .database-tools-container {
    display:inline-block;
    position: relative;
    background-color: rgb(75, 75, 75);
    grid-column: 2 / span 1;
    grid-row: 2 ;
    height: 100%;
    width: 100%;
    padding: 0px;
    grid-gap: 0%;
    margin-top: 0px;
    margin-left: 0%;


    border: solid rgb(75, 75, 75) 2px;
    box-sizing: border-box;
  

    
  }
  .db-grids-organisation .database-nav-container {
    display:inline-block;
    position: relative;
    background-color: #00ff155e;
    grid-column: 3 / span 1;
    grid-row: 1 / span 2 ;
    height: 100%;
    width: 100%;
    padding: 0px;
    grid-gap: 0%;
    margin-top: 0px;
    margin-left: 0%;
    border-width: 1px;
  /*   border-top-style: solid;
    border-right-style: solid;
border-bottom-style: dotted;  */
    border-left-style: solid; 
    box-sizing: border-box;
  }


  .evt-grids-organisation  {
    display: grid;
    position: relative;
    grid-template-columns: 95% 5% 0%  ; 
    grid-template-rows: 10% 90%;     
    background-color: rgba(255, 255, 255, 0);
    height: 100%;
    width: 100%;
    padding: 0px;
    grid-gap: 0%;
    margin-top: 0px;
    margin-left: 0%;  
}
.evt-grids-organisation h1{
  font-size: small;
  text-align: center; 
  color: white;
}
  .evt-grids-organisation .database-title-container {
    display:inline-block;

    
    position: relative;
    background-color: rgb(75, 75, 75);
    grid-column: 1 / span 2;
    grid-row: 1 ;
    height: 100%;
    width: 100%;
    padding: 0px;
    grid-gap: 0%;
    margin-top: 0px;
    margin-left: 0%;
  }
  .evt-grids-organisation .database-table-container {
    display:inline-block;
    position: relative;
    background-color: #a8abb4;
    grid-column: 1 / span 1;
    grid-row: 2 ;
    height: 100%;
    width: 100%;
    padding: 0px;
    grid-gap: 0%;
    margin-top: 0px;
    margin-left: 0%;
    border-width: 1px;
    border-radius: 20px;
    border-top-style: solid;
    border-right-style: solid;
/* border-bottom-style: dotted;
    border-left-style: dotted;  */
    box-sizing: border-box;
    overflow: scroll;
    
  }
  .evt-grids-organisation .database-tools-container {
    display:inline-block;
    position: relative;
    background-color: rgb(75, 75, 75);
    grid-column: 2 / span 1;
    grid-row: 2 ;
    height: 100%;
    width: 100%;
    padding: 0px;
    grid-gap: 0%;
    margin-top: 0px;
    margin-left: 0%;
    border-width: 1px;
  }
  .evt-grids-organisation .database-nav-container {
    display:inline-block;
    position: relative;
    background-color: #00ff155e;
    grid-column: 3 / span 1;
    grid-row: 1 / span 2 ;
    height: 100%;
    width: 100%;
    padding: 0px;
    grid-gap: 0%;
    margin-top: 0px;
    margin-left: 0%;
    border-width: 1px;
  /*   border-top-style: solid;
    border-right-style: solid;
border-bottom-style: dotted;  */
    border-left-style: solid; 
    box-sizing: border-box;
  }


  .grp-grids-organisation  {
    display: grid;
    position: relative;
    grid-template-columns: 95% 5% 0%  ; 
    grid-template-rows: 10% 90%;     
    background-color: rgba(255, 255, 255, 0);
    height: 100%;
    width: 100%;
    padding: 0px;
    grid-gap: 0%;
    margin-top: 0px;
    margin-left: 0%;  
}
.grp-grids-organisation h1{
  font-size: small;
  text-align: center; 
  color: white;
}
  .grp-grids-organisation .database-title-container {
    display:inline-block;

    
    position: relative;
    background-color: rgb(75, 75, 75);
    grid-column: 1 / span 2;
    grid-row: 1 ;
    height: 100%;
    width: 100%;
    padding: 0px;
    grid-gap: 0%;
    margin-top: 0px;
    margin-left: 0%;
  }
  .grp-grids-organisation .database-table-container {
    display:inline-block;
    position: relative;
    background-color: #a8abb4;
    grid-column: 1 / span 1;
    grid-row: 2 ;
    height: 100%;
    width: 100%;
    padding: 0px;
    grid-gap: 0%;
    margin-top: 0px;
    margin-left: 0%;
    border-width: 1px;
    border-radius: 20px;
    border-top-style: solid;
    border-right-style: solid;
/* border-bottom-style: dotted;
    border-left-style: dotted;  */
    box-sizing: border-box;
    overflow: scroll;
    
  }
  .grp-grids-organisation .database-tools-container {
    display:inline-block;
    position: relative;
    background-color: rgb(75, 75, 75);
    grid-column: 2 / span 1;
    grid-row: 2 ;
    height: 100%;
    width: 100%;
    padding: 0px;
    grid-gap: 0%;
    margin-top: 0px;
    margin-left: 0%;
    border-width: 1px;
  }
  .grp-grids-organisation .database-nav-container {
    display:inline-block;
    position: relative;
    background-color: #00ff155e;
    grid-column: 3 / span 1;
    grid-row: 1 / span 2 ;
    height: 100%;
    width: 100%;
    padding: 0px;
    grid-gap: 0%;
    margin-top: 0px;
    margin-left: 0%;
    border-width: 1px;
  /*   border-top-style: solid;
    border-right-style: solid;
border-bottom-style: dotted;  */
    border-left-style: solid; 
    box-sizing: border-box;
  }