.table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  .table td, .table th {
 /*   border: 1px solid rgb(0, 0, 0);*/
    padding: 1px;
    font-size: 12px;
    font-family: system-ui;
    font-style: normal;
    border-bottom: 1px solid rgb(138, 139, 139);
  }
  .table .bt-td-th {
   /* border: 1px solid rgb(0, 0, 0);*/
    border-bottom: 1px solid rgb(138, 139, 139);
    padding: 0px;
    width: 60px;
  }
/*  #customers tr:nth-child(even){background-color: #f2f2f2;}*/
  .table tr:hover {background-color: #ddd;}
  .table th {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    background-color: rgb(255, 255, 255);
    color: rgb(138, 139, 139);
  }
  .button {
    background-color: rgb(30, 160, 67);
    border: none;
    color: rgb(255, 255, 255);
    padding: 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
  }

  .button:hover{

    background-color: rgb(39, 30, 160);

  }
