/*
https://www.w3schools.com/cssref/pr_grid-column.asp
 */
 @import url("./css/grid-site.css");
 @import url("./css/grid-app.css");
 @import url("./css/grid-workspace.css");
 @import url("./css/grid-ws-midarea.css");
 @import url("./css/ma-grid.css");

 @import url("./css/tables.css");
 
 body {
  margin: 0;
  padding: 0;
  background-color: rgb(197, 189, 189);
  background-repeat: no-repeat;
  background-size: 10%;
  height: 100%;
}
h1{
  color: blue;
}
.TitleS1{
font-size: larger;
}
