/*
https://www.w3schools.com/cssref/pr_grid-column.asp
 */
 

 /*
@viewport {
  width: device-width;
  user-zoom: fixed ;
}
*/
 
 @import url("./css/grid-site.css");
 
 
 @import url("./css/grid-app.css");
 @import url("./css/grid-main-menu.css");
 @import url("./css/grid-workspace.css");


 
 body {
  margin: 0;
  padding: 0;
  background-color: rgb(197, 189, 189);
  background-repeat: no-repeat;
  background-size: 10%;
  height: 100%;
 
}
h1{
  color: blue;
}
.TitleS1{
font-size: larger;
}


.svg-tools{

  position: relative; 
  width: 50%; 
  height:40% ;
   top: 40%; 
  margin-left: 10%; 
  box-sizing: content-box;

  background: no-repeat url("../../../media/filter_out.svg") ;

}
.svg-tools:hover{
  
 
  background: no-repeat url("../../../media/filter_in.svg") ;
}
